<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="side-navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <span class="menu-title">Dashboard</span>
                        <!--<span class="menu-sub-title">( 2 new updates )</span>-->
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/port/event.do" >
                        <span class="menu-title">Port Event</span>

                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">MMS Connection</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">Goose Runtime</span>
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">Goose Scan</span>
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">Report</span>
                        <i class="mdi mdi-table-large menu-icon"></i>
                    </a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">-->
                        <!--<span class="menu-title">Sample Pages</span>-->
                        <!--<i class="menu-arrow"></i>-->
                        <!--<i class="mdi mdi-lock menu-icon"></i>-->
                    <!--</a>-->
                    <!--<div class="collapse" id="auth">-->
                        <!--<ul class="nav flex-column sub-menu">-->
                            <!--<li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <div class="sidebar-progress">
                <p>Total Sales</p>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>50 Items sold</p>
            </div>
            <div class="sidebar-progress">
                <p>Customer Target</p>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>200 Items sold</p>
            </div>
        </nav>

    </body>

</html>