<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Adding SA Top Operating Devices</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">


        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Adding SA Top Operating Devices</h4>

                    <form class="forms-sample" action="#" th:object="${obj}" method="post">
                        <div class="form-group row">
                            <label for="type" class="col-sm-3 col-form-label">Type</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="type"
                                       placeholder="Enter Type">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ip" class="col-sm-3 col-form-label">Ip Address</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="ip"
                                       placeholder="Enter Ip">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="port" class="col-sm-3 col-form-label">Number Of Ports</label>
                            <div class="col-sm-9">
                                <select name="port" id="port">
                                   <option th:value="1">One</option>
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                    <option th:value="5">5</option>
                                    <option th:value="6">6</option>
                                    <option th:value="7">7</option>
                                    <option th:value="8">8</option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-success mr-2 float-right">Submit</button>
                        <button type="submit" class="btn btn-light mr-2 float-right">Reset</button>

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>